{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookie</title>
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'krepz.css'%}">
    <!--Currently only one stylesheet used but leaving this for future use-->

<!--    <link rel="stylesheet" href="{% static 'mapstyle.css'%}">-->

    <!--JS--> <!-- I dont really have any JS yet, so leaving this in-->
<!--    <script src="{% static 'js.js' %}" type="text/javascript"></script>-->

    <title class="main-title">{% block title %}Krepz{% endblock %}</title>
</head>

<body>
  <!--Navbar-->
  {% include 'navbar.html' %}
  <!--Navbar-->
    {% block content %}

    {% endblock %}


  <!--filler-div-->
  <!--only purpose to temporarily prevent the footer to overlap bottom of screen (temp fix) -->

<!--    <div class="filler-div">-->
<!--    </div>-->

  <!--filler-div-->
  
  <!--footer-->
<!--  {% include 'footer.html' %}-->
  <!--footer-->


</body>
</html>

